<div class="d-flex justify-content-between align-items-center flex-wrap grid-margin">
    <div>
        <h2 class="mb-3 mb-md-0">{{"OperatingPage" | translate}}</h2>
    </div>
</div>
<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-scale-multiple">
    <p style="font-size: 20px; color: white"> {{"Loading" | translate}}...</p>
</ngx-spinner>

<!-- ═══════════════ GerFlow ═══════════════ -->
<section class="section_separtor">
    <form [formGroup]="gerFlowCompForm">
        <div class="row">
            <div class="col-md-12">
                <h4 class="setion_title">{{"GerFlowCompCont" | translate}}</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>{{"description" | translate}}</label>
                    <angular-editor id="gerFlow_er" formControlName="erContent"
                        [config]="editorConfig"></angular-editor>
                </div>
                <div class="form-group text-center">
                    <label>{{"GerFlowLogo" | translate}}</label>
                    <div class="img_upload">
                        <label for="gerLogo">
                            <img class="upload-img"
                                [src]="gerUpload || (gerFlowLogo ? endpoint+'/'+gerFlowLogo : 'assets/images/upload_img.png')" />
                        </label>
                        <button *ngIf="gerFlowLogo || gerUpload" type="button" class="btn btn-primary del_btn"
                            (click)="removeGerFlowImg()">
                            {{"Delete" | translate}}
                        </button>
                        <input type="file" class="custom-file-input" id="gerLogo"
                            (change)="uploadGerFlowImageFile($event)">
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>{{"descriptionAR" | translate}}</label>
                    <angular-editor id="gerFlow_ar" formControlName="arContent"
                        [config]="editorConfig"></angular-editor>
                </div>
                <div class="form-group text-center">
                    <label>{{"gerFlowIamge" | translate}}</label>
                    <div class="img_upload">
                        <label for="gerCompany">
                            <img class="upload-img"
                                [src]="getCompUpload || (gerCompImg ? endpoint+'/'+gerCompImg : 'assets/images/upload_img.png')" />
                        </label>
                        <button *ngIf="gerCompImg || getCompUpload" type="button" class="btn btn-primary del_btn"
                            (click)="removeGerCompanyImg()">
                            {{"Delete" | translate}}
                        </button>
                        <input type="file" class="custom-file-input" id="gerCompany"
                            (change)="uploadGerCompanyImageFile($event)">
                    </div>
                </div>
            </div>
            <div class="col-md-12 text-center">
                <button type="button" class="btn btn-own" (click)="onSubmitGerFlowFormData()">
                    {{"Update" | translate}}
                </button>
            </div>
        </div>
    </form>
</section>

<!-- ═══════════════ USG ME ═══════════════ -->
<section class="section_separtor">
    <form [formGroup]="usgMeCompForm">
        <div class="row">
            <div class="col-md-12">
                <h4 class="setion_title">{{"usgMeCompCont" | translate}}</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>{{"description" | translate}}</label>
                    <angular-editor id="usgMe_er" formControlName="erContent" [config]="editorConfig"></angular-editor>
                </div>
                <div class="form-group text-center">
                    <label>{{"usegMeLogo" | translate}}</label>
                    <div class="img_upload">
                        <label for="usgMeLogo">
                            <img class="upload-img"
                                [src]="usgMeLogoUpload || (usgMeLogo ? endpoint+'/'+usgMeLogo : 'assets/images/upload_img.png')" />
                        </label>
                        <button *ngIf="usgMeLogo || usgMeLogoUpload" type="button" class="btn btn-primary del_btn"
                            (click)="removeUsgMeLogoImg()">
                            {{"Delete" | translate}}
                        </button>
                        <input type="file" class="custom-file-input" id="usgMeLogo"
                            (change)="uploadUsgMeLogoFile($event)">
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>{{"descriptionAR" | translate}}</label>
                    <angular-editor id="usgMe_ar" formControlName="arContent" [config]="editorConfig"></angular-editor>
                </div>
                <div class="form-group text-center">
                    <label>{{"usgMeCompImg" | translate}}</label>
                    <div class="img_upload">
                        <label for="usgMeCompFile">
                            <img class="upload-img"
                                [src]="usgMeCompUpload || (usgMeCompImg ? endpoint+'/'+usgMeCompImg : 'assets/images/upload_img.png')" />
                        </label>
                        <button *ngIf="usgMeCompImg || usgMeCompUpload" type="button" class="btn btn-primary del_btn"
                            (click)="removeUsgMeCompanyImg()">
                            {{"Delete" | translate}}
                        </button>
                        <input type="file" class="custom-file-input" id="usgMeCompFile"
                            (change)="uploadUsgMeCompanyFile($event)">
                    </div>
                </div>
            </div>
            <div class="col-md-12 text-center">
                <button type="button" class="btn btn-own" (click)="onSubmitUsgMeFormData()">
                    {{"Update" | translate}}
                </button>
            </div>
        </div>
    </form>
</section>

<!-- ═══════════════ Bostik ═══════════════ -->
<section class="section_separtor">
    <form [formGroup]="bostikCompForm">
        <div class="row">
            <div class="col-md-12">
                <h4 class="setion_title">{{"bostikCompCont" | translate}}</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>{{"description" | translate}}</label>
                    <angular-editor id="bostik_er" formControlName="erContent" [config]="editorConfig"></angular-editor>
                </div>
                <div class="form-group text-center">
                    <label>{{"bostikLogo" | translate}}</label>
                    <div class="img_upload">
                        <label for="bostikLogo">
                            <img class="upload-img"
                                [src]="bostikLogoupload || (bostikLogo ? endpoint+'/'+bostikLogo : 'assets/images/upload_img.png')" />
                        </label>
                        <button *ngIf="bostikLogo || bostikLogoupload" type="button" class="btn btn-primary del_btn"
                            (click)="removeBostikLogoImg()">
                            {{"Delete" | translate}}
                        </button>
                        <input type="file" class="custom-file-input" id="bostikLogo"
                            (change)="uploadBostikLogoFile($event)">
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>{{"descriptionAR" | translate}}</label>
                    <angular-editor id="bostik_ar" formControlName="arContent" [config]="editorConfig"></angular-editor>
                </div>
                <div class="form-group text-center">
                    <label>{{"botikFlowCompimg" | translate}}</label>
                    <div class="img_upload">
                        <label for="bostikCompImg">
                            <img class="upload-img"
                                [src]="boxtikCompUpload || (bostikCompImg ? endpoint+'/'+bostikCompImg : 'assets/images/upload_img.png')" />
                        </label>
                        <button *ngIf="bostikCompImg || boxtikCompUpload" type="button" class="btn btn-primary del_btn"
                            (click)="removeBostikCompanyImg()">
                            {{"Delete" | translate}}
                        </button>
                        <input type="file" class="custom-file-input" id="bostikCompImg"
                            (change)="uploadBostikCompanyFile($event)">
                    </div>
                </div>
            </div>
            <div class="col-md-12 text-center">
                <button type="button" class="btn btn-own" (click)="onSubmitBostikFormData()">
                    {{"Update" | translate}}
                </button>
            </div>
        </div>
    </form>
</section>