.table_btn{
    background: var(--main-color);
    color: var(--white-color);
    font-weight: 500;
    font-size: var(--heading-h6);
    border:none;
    padding: 10px 30px;
    border-radius: 10px ;
}
.table_btn:hover{
    border: 1px solid var(--main-color);
    background: transparent;
    color: var(--main-color);
}.simi_btn{
    background: transparent;
    border: 2px solid var(--main-color);
    color: var(--main-color);
    font-size: 12px;
    font-weight: 600;
    padding: 5px;
    border-radius: 10px;
  }
  .simi_btn:hover{
    background: var(--main-color);
    color: var(--white-color);
  }