<div class="d-flex justify-content-between align-items-center flex-wrap grid-margin">
    <div>
        <h2 class="mb-3 mb-md-0">{{"WhoWeArePAge" | translate}}</h2>
    </div>
</div>

<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-scale-multiple">
    <p style="font-size: 20px; color: white"> {{"Loading" | translate}}...</p>
</ngx-spinner>

<!-- ═══════════════ Top Section ═══════════════ -->
<section class="section_separtor">
    <form [formGroup]="topSectionForm">
        <div class="row">
            <div class="col-md-12">
                <h4 class="setion_title">{{"BannerTitle" | translate}}</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>{{"Title" | translate}}</label>
                    <angular-editor id="topSection_er" formControlName="erTitle"
                        [config]="editorConfig"></angular-editor>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>{{"TitleAr" | translate}}</label>
                    <angular-editor id="topSection_ar" formControlName="arTitle"
                        [config]="editorConfig"></angular-editor>
                </div>
            </div>
            <div class="col-md-12">
                <div class="text-center">
                    <button type="button" class="btn btn-own" (click)="onSubmitTopSectionData()">{{"Update" |
                        translate}}</button>
                </div>
            </div>
        </div>
    </form>
</section>

<!-- ═══════════════ What We Do ═══════════════ -->
<section class="section_separtor">
    <form [formGroup]="whatWeDoForm">
        <div class="row">
            <div class="col-md-12">
                <h4 class="setion_title">{{"whatweDoSection" | translate}}</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>{{"Title" | translate}}</label>
                    <input type="text" class="form-control" placeholder="{{'Title' | translate}}"
                        formControlName="erTitle">
                </div>
                <div class="form-group">
                    <label>{{"description" | translate}}</label>
                    <angular-editor id="whatWeDo_er" formControlName="erContent"
                        [config]="editorConfig"></angular-editor>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>{{"TitleAr" | translate}}</label>
                    <input type="text" class="form-control" placeholder="{{'TitleAr' | translate}}"
                        formControlName="arTitle">
                </div>
                <div class="form-group">
                    <label>{{"descriptionAR" | translate}}</label>
                    <angular-editor id="whatWeDo_ar" formControlName="arContent"
                        [config]="editorConfig"></angular-editor>
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group text-center">
                    <label>{{"Image" | translate}}</label>
                    <div class="img_upload">
                        <label for="customFile">
                            <img class="upload-img"
                                [src]="whatImage || (iconImg ? endpoint+'/'+iconImg : 'assets/images/upload_img.png')" />
                        </label>
                        <button *ngIf="iconImg || whatImage" type="button" class="btn btn-primary del_btn"
                            (click)="removeImg()">{{"Delete" | translate}}</button>
                        <input type="file" class="custom-file-input" id="customFile" #whatWeDoFileInput
                            (change)="uploadImageFile($event)">
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="text-center">
                    <button type="button" class="btn btn-own" (click)="onSubmitWhatWeDoData()">{{"Update" |
                        translate}}</button>
                </div>
            </div>
        </div>
    </form>
</section>

<!-- ═══════════════ Counter ═══════════════ -->
<section class="section_separtor">
    <form [formGroup]="counterSecForm">
        <div class="row">
            <div class="col-md-12">
                <h4 class="setion_title">{{"CompanyConsultSec" | translate}}</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>{{"Title" | translate}}</label>
                    <input type="text" class="form-control" placeholder="{{'Title' | translate}}"
                        formControlName="erTitle">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>{{"TitleAr" | translate}}</label>
                    <input type="text" class="form-control" placeholder="{{'TitleAr' | translate}}"
                        formControlName="arTitle">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    <label>{{"consolidateRevenue" | translate}}</label>
                    <input type="text" class="form-control" formControlName="firstContent">
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label>{{"consolidateRevenueAr" | translate}}</label>
                    <input type="text" class="form-control" formControlName="arFirstContent">
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label>{{"consolidateValue" | translate}}</label>
                    <input type="text" class="form-control" formControlName="firstValue">
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label>{{"consolidateValueAr" | translate}}</label>
                    <input type="text" class="form-control" formControlName="firstValueAr">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    <label>{{"EmployeesEnglish" | translate}}</label>
                    <input type="text" class="form-control" formControlName="secondContent">
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label>{{"EmployeesAr" | translate}}</label>
                    <input type="text" class="form-control" formControlName="arSecondContent">
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label>{{"NoEmployees" | translate}}</label>
                    <input type="text" class="form-control" formControlName="secondValue">
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label>{{"NoEmployeesAr" | translate}}</label>
                    <input type="text" class="form-control" formControlName="secondValueAr">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    <label>{{"countiresEnglish" | translate}}</label>
                    <input type="text" class="form-control" formControlName="thirdContent">
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label>{{"countiresAr" | translate}}</label>
                    <input type="text" class="form-control" formControlName="arThirdContent">
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label>{{"NoCountry" | translate}}</label>
                    <input type="text" class="form-control" formControlName="thirdValue">
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label>{{"NoCountryAr" | translate}}</label>
                    <input type="text" class="form-control" formControlName="thirdValueAr">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    <label>{{"regionalEnglish" | translate}}</label>
                    <input type="text" class="form-control" formControlName="fourthContent">
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label>{{"regionalArabic" | translate}}</label>
                    <input type="text" class="form-control" formControlName="arFourthContent">
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label>{{"NoRegionalEn" | translate}}</label>
                    <input type="text" class="form-control" formControlName="fourthValue">
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label>{{"NoRegionalAr" | translate}}</label>
                    <input type="text" class="form-control" formControlName="fourthValueAr">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="text-center">
                    <button type="button" class="btn btn-own" (click)="onSubmitCounterData()">{{"Update" |
                        translate}}</button>
                </div>
            </div>
        </div>
    </form>
</section>

<!-- ═══════════════ Our Vision ═══════════════ -->
<section class="section_separtor">
    <form [formGroup]="ourVisionForm">
        <div class="row">
            <div class="col-md-12">
                <h4 class="setion_title">{{"oruVisionSection" | translate}}</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>{{"Title" | translate}}</label>
                    <input type="text" class="form-control" placeholder="{{'Title' | translate}}"
                        formControlName="erTitle">
                </div>
                <div class="form-group">
                    <label>{{"description" | translate}}</label>
                    <angular-editor id="vision_er" formControlName="erContent" [config]="editorConfig"></angular-editor>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>{{"TitleAr" | translate}}</label>
                    <input type="text" class="form-control" placeholder="{{'TitleAr' | translate}}"
                        formControlName="arTitle">
                </div>
                <div class="form-group">
                    <label>{{"descriptionAR" | translate}}</label>
                    <angular-editor id="vision_ar" formControlName="arContent" [config]="editorConfig"></angular-editor>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group text-center">
                    <label>{{"Image" | translate}}</label>
                    <div class="img_upload">
                        <label for="visionImg">
                            <img class="upload-img"
                                [src]="visionUpload || (visonImg ? endpoint+'/'+visonImg : 'assets/images/upload_img.png')" />
                        </label>
                        <button *ngIf="visonImg || visionUpload" type="button" class="btn btn-primary del_btn"
                            (click)="removeVisionFileImg()">{{"Delete" | translate}}</button>
                        <input type="file" class="custom-file-input" id="visionImg" #visionFileInput
                            (change)="uploadVisionImgFile($event)">
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group text-center">
                    <label>{{"ARImage" | translate}}</label>
                    <div class="img_upload">
                        <label for="visionImgArabic">
                            <img class="upload-img"
                                [src]="visionUploadAR || (visonImgAR ? endpoint+'/'+visonImgAR : 'assets/images/upload_img.png')" />
                        </label>
                        <button *ngIf="visonImgAR || visionUploadAR" type="button" class="btn btn-primary del_btn"
                            (click)="removeVisionARFileImg()">{{"Delete" | translate}}</button>
                        <input type="file" class="custom-file-input" id="visionImgArabic" #visionARFileInput
                            (change)="uploadVisionARImgFile($event)">
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="text-center">
                    <button type="button" class="btn btn-own" (click)="onSubmitVisionData()">{{"Update" |
                        translate}}</button>
                </div>
            </div>
        </div>
    </form>
</section>

<!-- ═══════════════ Our Mission ═══════════════ -->
<section class="section_separtor">
    <form [formGroup]="ourMissionForm">
        <div class="row">
            <div class="col-md-12">
                <h4 class="setion_title">{{"oruMissionSection" | translate}}</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>{{"Title" | translate}}</label>
                    <input type="text" class="form-control" placeholder="{{'Title' | translate}}"
                        formControlName="erTitle">
                </div>
                <div class="form-group">
                    <label>{{"description" | translate}}</label>
                    <angular-editor id="mission_er" formControlName="erContent"
                        [config]="editorConfig"></angular-editor>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>{{"TitleAr" | translate}}</label>
                    <input type="text" class="form-control" placeholder="{{'TitleAr' | translate}}"
                        formControlName="arTitle">
                </div>
                <div class="form-group">
                    <label>{{"descriptionAR" | translate}}</label>
                    <angular-editor id="mission_ar" formControlName="arContent"
                        [config]="editorConfig"></angular-editor>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group text-center">
                    <label>{{"Image" | translate}}</label>
                    <div class="img_upload">
                        <label for="missionImgcc">
                            <img class="upload-img"
                                [src]="missionUpload || (missionImg ? endpoint+'/'+missionImg : 'assets/images/upload_img.png')" />
                        </label>
                        <button *ngIf="missionImg || missionUpload" type="button" class="btn btn-primary del_btn"
                            (click)="removeMissionFileImg()">{{"Delete" | translate}}</button>
                        <input type="file" class="custom-file-input" id="missionImgcc" #missionFileInput
                            (change)="uploadMissionImgFile($event)">
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group text-center">
                    <label>{{"ARImage" | translate}}</label>
                    <div class="img_upload">
                        <label for="missionImgACC">
                            <img class="upload-img"
                                [src]="missionUploadAR || (missionImgAR ? endpoint+'/'+missionImgAR : 'assets/images/upload_img.png')" />
                        </label>
                        <button *ngIf="missionImgAR || missionUploadAR" type="button" class="btn btn-primary del_btn"
                            (click)="removeMissionARFileImg()">{{"Delete" | translate}}</button>
                        <input type="file" class="custom-file-input" id="missionImgACC"
                            (change)="uploadMissionARImgFile($event)">
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="text-center">
                    <button type="button" class="btn btn-own" (click)="onSubmitMissionData()">{{"Update" |
                        translate}}</button>
                </div>
            </div>
        </div>
    </form>
</section>

<!-- ═══════════════ Our Values ═══════════════ -->
<section class="section_separtor">
    <form [formGroup]="ourValuesForm">
        <div class="row">
            <div class="col-md-12">
                <h4 class="setion_title">{{"ourValuesSection" | translate}}</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>{{"Title" | translate}}</label>
                    <input type="text" class="form-control" placeholder="{{'Title' | translate}}"
                        formControlName="erTitle">
                </div>
                <div class="form-group">
                    <label>{{"description" | translate}}</label>
                    <angular-editor id="values_er" formControlName="erContent" [config]="editorConfig"></angular-editor>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>{{"TitleAr" | translate}}</label>
                    <input type="text" class="form-control" placeholder="{{'TitleAr' | translate}}"
                        formControlName="arTitle">
                </div>
                <div class="form-group">
                    <label>{{"descriptionAR" | translate}}</label>
                    <angular-editor id="values_ar" formControlName="arContent" [config]="editorConfig"></angular-editor>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group text-center">
                    <label>{{"Image" | translate}}</label>
                    <div class="img_upload">
                        <label for="valuesImgsss">
                            <img class="upload-img"
                                [src]="valuesUpload || (valuesImg ? endpoint+'/'+valuesImg : 'assets/images/upload_img.png')" />
                        </label>
                        <button *ngIf="valuesImg || valuesUpload" type="button" class="btn btn-primary del_btn"
                            (click)="removeValuesFileImg()">{{"Delete" | translate}}</button>
                        <input type="file" class="custom-file-input" id="valuesImgsss" #valuesFileInput
                            (change)="uploadValuesImgFile($event)">
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group text-center">
                    <label>{{"ARImage" | translate}}</label>
                    <div class="img_upload">
                        <label for="valueImgACC">
                            <img class="upload-img"
                                [src]="valueUploadAR || (valueImgAR ? endpoint+'/'+valueImgAR : 'assets/images/upload_img.png')" />
                        </label>
                        <button *ngIf="valueImgAR || valueUploadAR" type="button" class="btn btn-primary del_btn"
                            (click)="removeValueARFileImg()">{{"Delete" | translate}}</button>
                        <input type="file" class="custom-file-input" id="valueImgACC" #valuesARFileInput
                            (change)="uploadValueARImgFile($event)">
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="text-center">
                    <button type="button" class="btn btn-own" (click)="onSubmitValuesData()">{{"Update" |
                        translate}}</button>
                </div>
            </div>
        </div>
    </form>
</section>

<!-- ═══════════════ Interested ═══════════════ -->
<section class="section_separtor">
    <form [formGroup]="interstedForm">
        <div class="row">
            <div class="col-md-12">
                <h4 class="setion_title">{{"interstedSection" | translate}}</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>{{"Title" | translate}}</label>
                    <input type="text" class="form-control" placeholder="{{'Title' | translate}}"
                        formControlName="erTitle">
                </div>
                <div class="form-group">
                    <label>{{"description" | translate}}</label>
                    <textarea class="form-control" placeholder="{{'description' | translate}}"
                        formControlName="erContent"></textarea>
                </div>
                <div class="form-group">
                    <label>{{"String" | translate}}</label>
                    <input type="text" class="form-control" formControlName="enString">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>{{"TitleAr" | translate}}</label>
                    <input type="text" class="form-control" placeholder="{{'TitleAr' | translate}}"
                        formControlName="arTitle">
                </div>
                <div class="form-group">
                    <label>{{"descriptionAR" | translate}}</label>
                    <textarea class="form-control" placeholder="{{'descriptionAR' | translate}}"
                        formControlName="arContent"></textarea>
                </div>
                <div class="form-group">
                    <label>{{"StringAR" | translate}}</label>
                    <input type="text" class="form-control" formControlName="arString">
                </div>
            </div>
            <div class="col-md-12">
                <div class="text-center">
                    <button type="button" class="btn btn-own" (click)="onSubmitInterestSecData()">{{"Update" |
                        translate}}</button>
                </div>
            </div>
        </div>
    </form>
</section>